.camera-screen {
  position: relative;
  height: calc(
    100dvh - 50px - 100px
  ); /* Adjust based on nav bar height and shutter button */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* This container contains both camera prompt and camera view */
.camera-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Allow the container to grow and fill available space */
}

.camera-prompt {
  margin-bottom: 20px;
  font-size: 18px;
  color: var(--secondary-text-color);
  text-align: center;
}

.camera-view {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1; /* Ensures the video is square */
  object-fit: cover;
}

.shutter-button {
  --shutter-button-background-color: #ffffff;
  --shutter-button-border-color: #ccc;
  --shutter-button-background-color-active: #f0f0f0;
  --shutter-button-border-color-active: #999;
}

.shutter-button {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--shutter-button-background-color);
  border: 4px solid var(--shutter-button-border-color);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, border-color 0.3s;
}

.shutter-button:active {
  background-color: var(--shutter-button-background-color-active);
  border-color: var(--shutter-button-border-color-active);
}

.switch-camera-button {
  --switch-camera-button-background-color: #333;
  --switch-camera-button-border-color: #ccc;
  --switch-camera-button-background-color-active: #555;
  --switch-camera-button-border-color-active: #999;
}

.switch-camera-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--switch-camera-button-background-color);
  border: 2px solid var(--switch-camera-button-border-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Adjust font size for the icon */
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, border-color 0.3s;
}

.switch-camera-button:active {
  background-color: var(--switch-camera-button-background-color-active);
  border-color: var(--switch-camera-button-border-color-active);
}
