.drawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: var(--navbar-drawer-bg);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures space between the icon and title */
  padding: 10px;
}

.drawer-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.drawer-close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.history-element {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
  text-align: left;
}

.thumbnail {
  width: 50px; /* Fixed width */
  height: 50px; /* Fixed height to make it square */
  margin-right: 10px;
  flex-shrink: 0; /* Prevents the image from shrinking too much */
  object-fit: cover; /* Ensures the image is cropped to fit */
  object-position: center; /* Centers the image within the container */
}

/* This container contains date and preview text on separate lines */
.text-container {
  flex-grow: 1;
  width: 100%; /* Ensure the text container takes full width of the drawer */
  overflow: hidden; /* Ensure any overflow is hidden */
}

.preview-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; /* Ensure it fits within the drawer's width */
}

/* This refers to the selected history element in the drawer */
.selected {
  background-color: #101010; /* Darkest grey background color */
  border: none; /* Remove border */
  transition: background-color 0.3s ease, border 0.3s ease; /* Smooth transition */
}

/* This is the placeholder message before a user has taken any photos */
.no-history-message {
  padding: 10px;
  text-align: left;
  color: #555;
  font-size: 16px;
}
