@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --root-background-color: #121212;
  --root-foreground-color: #e0e0e0;
  --secondary-text-color: #b0b0b0;
  --navbar-drawer-background-color: #1f1f1f;
}

body {
  color: var(--root-foreground-color);
  background: var(--root-background-color);
  font-family: Arial, Helvetica, sans-serif;
}
