@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #e0e0e0;
    --secondary-text: #b0b0b0;
    --accent: #1e90ff; /* Dodger Blue */
    --navbar-drawer-bg: #1f1f1f;
    --border: #333333;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-drawer-bg);
  padding: calc(env(safe-area-inset-top) + 10px) 20px 10px; /* Adjust top padding */
  color: var(--foreground);
  height: auto; /* Ensure height is only as much as needed */
}

.navbar-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar-title {
  font-size: 1.5em;
  font-weight: bold;
}
